<!DOCTYPE html>
<!--
Template Name: Besloor
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>CandidateHome</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="all">
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
</head>

<body id="top">

<div class="bgded overlay" style="background-image:url('/images/deptman.jpg');"> 

    <header>
      <nav class="menu">
            <input type="checkbox" id="menuToggle">
            <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
            <ul>
                <!--<a href="#" ><li>My Profile</li></a>
                <a href="#" ><li>Applied Job Status</li></a>
                <a href="#"><li>Logout</li></a>
                <a href="#" ><li>NewsFlash</li></a>
                <a href="#" ><li>Helping Hands</li></a>
                <a href="#"><li>Wanna Find Us</li></a>
                <a href="#"><li>FAQ's</li></a>
                <a href="#"><li>Your View</li></a>-->
            </ul>
        </nav>
  
  </header>

  
 
  <div id="pageintro" class="hoc clear"> 
  
    <article class="center">
      <h3 class="heading underline" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';">Add a job request?</h3>
      
      <footer>
        <a href="/hr/<%=currentUser._id%>/addJobOpp" class="btn">ADD</a>
        </footer>
    </article>
    
  </div>
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p style="color:black;">&copy; 2021 MyHR &middot;</p>
  </footer>
</div>
<!-- End Top Background Image Wrapper -->

<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.backtotop.js"></script>
<script src="scripts/jquery.mobilemenu.js"></script>
</body>
</html>